
.DS_Store

i-am-rich/i-am-rich.xcodeproj/project.xcworkspace/xcuserdata/teko.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

egg-timer/egg-timer.xcodeproj/xcuserdata/teko.xcuserdatad/xcdebugger/
