<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833918452313-pji078d5re3ff9g23id76aklcv0n4jfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833918452313-pji078d5re3ff9g23id76aklcv0n4jfh</string>
	<key>API_KEY</key>
	<string>AIzaSyCaAm44o0-7La5iPgNA5kLG6owHd9bFqwM</string>
	<key>GCM_SENDER_ID</key>
	<string>833918452313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>suan.learn.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-suan</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-suan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833918452313:ios:ebd0aad0c98cd3758ee748</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-suan.firebaseio.com</string>
</dict>
</plist>